#video {
  display: flex;
  justify-content: space-between;
}

#video-box {
  width: 80%;
}

#player > div {
  height: 45rem !important;
}

#videos-list {
  width: 19%;
}

#videos-list .video-card {
  margin: 0;
  padding: 0;
}

#player > div {
  width: 100% !important;
}

#player div video {
  background-color: rgb(156, 186, 255);
}

#video-infos > p {
  margin: 0;
}

#description {
  margin-top: 1rem !important;
  margin-bottom: 4rem !important;
}

@media screen and (max-width: 768px) {
  #video {
    display: flex;
    flex-direction: column;
  }

  #videos-list {
    width: 100%;
  }

  #video-box {
    width: 100%;
  }
}
