#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: rgb(41, 41, 41);
  padding: 1rem;
}

#logo a {
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
}