@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  font-size: 60%;

  --color-background: rgb(228, 228, 228);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  width: 90vw;
  margin-top: 8rem;
  max-width: 1200px;
}
